* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 200px;
    height: 100px;
  }


}

section#slide-1 {

  background-color: #FEFCE0;
  border: 1px solid black;
  padding: 1.5rem;

  .content-wrapper {
    display: flex;

    .robot-container {
      width: 40%;
      margin-right: 1rem;
      border: 1px solid black;
      border: 2px solid black;
      position: relative;
      background-color: white;


      .head {
        width: 18%;
        height: 20%;
        border-radius: 50%;
        border: 2px solid black;
        position: absolute;
        top: 19%;
        left: 44%;
      }

      .head .eye {
        width: 20%;
        height: 20%;
        border-radius: 50%;
        background-color: white;
        border: 1px solid black;
        position: absolute;

      }

      .head .left-eye {
        top: 25%;
        left: 30%
      }

      .head .right-eye {
        top: 25%;
        left: 54%;
      }

      .head .smile {
        clip-path: ellipse(50% 9% at 50% 50%);
        width: 50%;
        height: 60%;
        background-color: red;
        border: 2px solid black;
        position: absolute;
        top: 50%;
        left: 23%;
      }

      .hand {
        width: 3%;
        height: 25%;
        background-color: #EBEBEB;
        position: absolute;
        border-radius: 5px;
        border: 2px solid black;
      }

      .left-hand {
        top: 40%;
        left: 38%;
      }

      .right-hand {
        top: 40%;
        left: 64%;
      }

      .body {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
        width: 25%;
        height: 25%;
        background-color: blue;
        position: absolute;
        top: 40%;
        left: 40%;
        background-color: #E96126;
      }

      .leg {
        width: 5%;
        height: 30%;
        background-color: inherit;
        border: 2px solid black;
        position: absolute;
        border-radius: 5px;
      }

      .left-leg {
        top: 65%;
        left: 46%;
      }

      .right-leg {
        top: 65%;
        left: 54%;
      }
    }

    .content {
      width: 60%;

      .item {
        margin-bottom: 0.5rem;
        padding: 1rem;
        border: 1px solid black;

        &:nth-child(1) {
          animation: fadeIn 2s;
          width: 100%;
        }

        &:nth-child(2) {
          animation: fadeIn 6s;
          width: 95%;
        }

        &:nth-child(3) {
          animation: fadeIn 8s;
          width: 90%;
          display: flex;
          align-items: center;

          .img {
            height: 75px;
            width: 150px;
            border: none;
          }
        }
      }
    }
  }
}

section#robot-creation {
  border: 1px solid black;
  background-color: #DFEDD6;

  .heading {
    text-align: center;
  }

  .form {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

  }

  .group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;

    input,
    select {
      border-radius: 0.2rem;
      padding: 0.2rem;
    }

    &>* {
      margin-bottom: 0.2rem;
    }
  }

  button {
    margin: 1rem;
    padding: 0.5rem;
  }

  .robbots {
    height: 200px
  }
}


.delimeter {
  border-bottom: 1px solid black;
}

img {
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}