* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  width: 200px;
  height: 100px;
}

section#slide-1 {
  background-color: #FEFCE0;
  border: 1px solid black;
  padding: 1.5rem;
}

section#slide-1 .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#slide-1 .content-wrapper .robot-container {
  width: 40%;
  margin-right: 1rem;
  border: 1px solid black;
  border: 2px solid black;
  position: relative;
  background-color: white;
}

section#slide-1 .content-wrapper .robot-container .head {
  width: 18%;
  height: 20%;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 19%;
  left: 44%;
}

section#slide-1 .content-wrapper .robot-container .head .eye {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
}

section#slide-1 .content-wrapper .robot-container .head .left-eye {
  top: 25%;
  left: 30%;
}

section#slide-1 .content-wrapper .robot-container .head .right-eye {
  top: 25%;
  left: 54%;
}

section#slide-1 .content-wrapper .robot-container .head .smile {
  -webkit-clip-path: ellipse(50% 9% at 50% 50%);
          clip-path: ellipse(50% 9% at 50% 50%);
  width: 50%;
  height: 60%;
  background-color: red;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 23%;
}

section#slide-1 .content-wrapper .robot-container .hand {
  width: 3%;
  height: 25%;
  background-color: #EBEBEB;
  position: absolute;
  border-radius: 5px;
  border: 2px solid black;
}

section#slide-1 .content-wrapper .robot-container .left-hand {
  top: 40%;
  left: 38%;
}

section#slide-1 .content-wrapper .robot-container .right-hand {
  top: 40%;
  left: 64%;
}

section#slide-1 .content-wrapper .robot-container .body {
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  width: 25%;
  height: 25%;
  background-color: blue;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: #E96126;
}

section#slide-1 .content-wrapper .robot-container .leg {
  width: 5%;
  height: 30%;
  background-color: inherit;
  border: 2px solid black;
  position: absolute;
  border-radius: 5px;
}

section#slide-1 .content-wrapper .robot-container .left-leg {
  top: 65%;
  left: 46%;
}

section#slide-1 .content-wrapper .robot-container .right-leg {
  top: 65%;
  left: 54%;
}

section#slide-1 .content-wrapper .content {
  width: 60%;
}

section#slide-1 .content-wrapper .content .item {
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
}

section#slide-1 .content-wrapper .content .item:nth-child(1) {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  width: 100%;
}

section#slide-1 .content-wrapper .content .item:nth-child(2) {
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
  width: 95%;
}

section#slide-1 .content-wrapper .content .item:nth-child(3) {
  -webkit-animation: fadeIn 8s;
          animation: fadeIn 8s;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#slide-1 .content-wrapper .content .item:nth-child(3) .img {
  height: 75px;
  width: 150px;
  border: none;
}

section#robot-creation {
  border: 1px solid black;
  background-color: #DFEDD6;
}

section#robot-creation .heading {
  text-align: center;
}

section#robot-creation .form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#robot-creation .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

section#robot-creation .group input,
section#robot-creation .group select {
  border-radius: 0.2rem;
  padding: 0.2rem;
}

section#robot-creation .group > * {
  margin-bottom: 0.2rem;
}

section#robot-creation button {
  margin: 1rem;
  padding: 0.5rem;
}

section#robot-creation .robbots {
  height: 200px;
}

.delimeter {
  border-bottom: 1px solid black;
}

img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
